.user-course-manager, .user-manager {
    cursor: pointer;
}

.user-course-manager:hover, .user-manager:hover {
    transition: all .4s ease;
    transform: scale(1.1);
}

.user-avatar {
    width: 45px;
    border-radius: 50%;    
}