.user-course-manager, .user-manager {
    cursor: pointer;
}

.user-course-manager:hover, .user-manager:hover {
    transition: all .4s ease;
    transform: scale(1.1);
}

.user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99999px;
    border: solid 2px #fff;
    -webkit-box-shadow: 0px 2px 0px 1px #ddcab9; 
    box-shadow: 0px 1px 0px 2px #ddcab9;
}

.link-youtube {
text-decoration: none;
    color: #212529;
}

.link-youtube:hover {
    color: #212529;
}

.lista-videos-geral tbody tr td:nth-child(3) {
text-align: right;
}

table tr td {
    vertical-align: middle;
}


.tdlink:hover {
    cursor: pointer;
    background-color: whitesmoke !important;
}

@media screen and (max-width: 1400px) {
    .lista-videos-geral tbody tr td:nth-child(5) {
        min-width: 78px;
    }
}

.lista-videos-geral tbody tr td:nth-child(5) {
            min-width: 78px;
}

.esconde {
    transition: opacity .5s ease;
    opacity: 0;
}

.mostra {
    transition: opacity .5s ease;
    opacity: 1 !important;
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title span:nth-child(2) {
    margin-left: 15px;
}

#categoria {
    font-weight: bold;
}

.lista-videos-geral thead tr th:nth-child(1), .lista-videos-geral tbody tr td:nth-child(1), .lista-videos-atribuidos thead tr th:nth-child(1), .lista-videos-atribuidos tbody tr td:nth-child(1), .lista-videos-da-trilha thead tr th:nth-child(1), .lista-videos-da-trilha tbody tr td:nth-child(1) {
    text-align: right;
}