* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
}


.modal {
    overflow:scroll;
}

body, .modal, .modal-body, .modal-content {
    background-color: #F7F7F7;
}

.user-course-manager, .user-manager {
    cursor: pointer;
}

.user-course-manager:hover, .user-manager:hover {
    transition: all .4s ease;
    transform: scale(1.1);
}

.user-avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 99999px;
    border: solid 2px #fff;
    -webkit-box-shadow: 0px 2px 0px 1px #ddcab9; 
    box-shadow: 0px 1px 0px 2px #ddcab9;
}

.link-youtube {
text-decoration: none;
    color: #212529;
    font-size: 1.3em;
}

/*.link-youtube:hover {
    color: #212529;
}*/

.lista-videos-geral tbody tr td:nth-child(3) {
text-align: right;
}

table tr td {
    vertical-align: middle;
}


.tdlink:hover {
    cursor: pointer;
    /*background-color: whitesmoke !important;*/
}

@media screen and (max-width: 1400px) {
    .lista-videos-geral tbody tr td:nth-child(5) {
        min-width: 78px;
    }
}

.lista-videos-geral tbody tr td:nth-child(5) {
            min-width: 78px;
}

.lista-videos-da-trilha tbody {
    transition: all .3s ease;
    opacity: 0;
}

.esconde {
    transition: opacity .5s ease;
    opacity: 0;
}

.mostra {
    transition: opacity .5s ease;
    opacity: 1 !important;
}

.modal {
    overflow: scroll;
}

.modal-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-title span:nth-child(2) {
    margin-left: 15px;
}

#categoria, #id_categoria, #trilha_type {
    font-weight: bold;
}

.lista-videos-geral thead tr th:nth-child(1), .lista-videos-geral tbody tr td:nth-child(1), .lista-videos-atribuidos thead tr th:nth-child(1), .lista-videos-atribuidos tbody tr td:nth-child(1), .lista-videos-da-trilha thead tr th:nth-child(1), .lista-videos-da-trilha tbody tr td:nth-child(1) {
    text-align: right;
}

.lista-videos-da-trilha tbody tr {
    transition: all .3s ease;
}




.tile-stats {
    position: relative;
    display: block;
    margin-bottom: 12px;
    border: 1px solid #E4E4E4;
    -webkit-border-radius: 5px;
    overflow: hidden;
    padding-bottom: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    background: #FFF;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.tile-stats {
    padding: 2rem;
}

.tile-stats .count, .tile-stats h3, .tile-stats p {
    position: relative;
    margin: 0;
    margin-left: 10px;
    z-index: 5;
    padding: 0;
}

.tile-stats .count {
    color: #73879C;
    font-size: 38px;
    font-weight: bold;
    line-height: 1.65857143;
}

.widget {
    min-width: 250px;
    max-width: 310px;
}







@media (min-width: 1200px) {
    .modal-xl {
        max-width: 100vw !important;
    }
}

.modal-open .modal {
    padding-right: 0 !important; 
    padding-left: 0 !important;  
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 0 auto !important;
    }
}

.modal-content {
    border-radius: 0 !important;
    border: transparent !important;
}

.video-panel {
    transition: opacity .5s ease;
    position: fixed;
    top: 0;
    right: 4em;
    z-index: 999999;
    background-color: white !important;
    opacity: 0;
    -webkit-box-shadow: 0px 9px 5px 5px rgba(120,120,120,0.65); 
    box-shadow: 0px 9px 5px 5px rgba(120,120,120,0.65);
}

.active {
    background-color: #f0faf8;
}

table.lista-videos-geral tbody tr {
    font-size: 1.2em;
}

.youtube-icon {
    margin-right: 15px;
}

table.lista-videos-da-trilha thead th:nth-child(2) {
    text-align: center;
}

.th-titulo-da-trilha {
    position: relative;
    font-size: 1.1em;
    background-color: white;
    color: #212529;
    padding: 2px 15px 2px 18px;
    -webkit-box-shadow: 0px 9px 5px 5px rgb(120 120 120 / 65%);
    box-shadow: 0px 2px 8px 3px rgb(14 6 6 / 65%);
}

.barra1 {
    width: 8px;
    background-color: #313538;
    height: 8px;
    position: absolute;
    margin-top: 6px;
    margin-left: -21px;
    border-radius: 50%;
}

.barra2 {
    width: 8px;
    background-color: #313538;
    height: 8px;
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    border-radius: 50%;
}

.btn-vincula, .btn-desvincula {
    display: flex; justify-content: center; align-items: center;
}

.btn-vincula i, .btn-desvincula i {
    margin-right: 5px;
}

.spinner {
    width: 40px;
    height: 40px;
}

.filtra-trilha .form-select {
    transition: background-color .3s ease;
    color: #390d0d;
    background-color: gainsboro;
    font-weight: 800;
    font-size: 1.6em;
}


.ferramentas-codigo-video {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
}

.ferramentas-codigo-video i {
    /*box-shadow: 0px 1px 2px 1px rgb(120 120 120 / 95%);
    padding: 7px;*/
}

.ferramentas-codigo-video i {
    margin-left: 5px;
}

.ferramentas-codigo-video i:hover {
    transition: all .3s ease;
    cursor: pointer;
    transform: scale(1.2);
}

.trilha-save-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;        
}

.trilha-save-message img {
    width: 45px;
}

.desabilita-evento-mouse {
    pointer-events: none !important;
} 

.config-geral {
    font-size: 1.3rem;
    margin-left: 1rem;
}

.config-geral:hover {
    cursor: pointer;
}

.container-user-modal-trilha {
    max-width: 1200px;
}

#modalGerenciarAtribuidosLabel {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
} 

.lista-trilhas-do-user td:nth-child(2), .lista-trilhas-disponiveis-user-manager td:nth-child(2) {
    width: 50% !important;
}

.lista-trilhas-do-user td:nth-child(6), .lista-trilhas-disponiveis-user-manager td:nth-child(6) {
    text-align: cemter;
}

.lista-trilhas-do-user td:nth-child(6) .form-desvincula-trilha-ao-user button, .lista-trilhas-disponiveis-user-manager td:nth-child(6) .form-vincula-trilha-ao-user button {
    font-size: .8rem !important;
    padding: 0.05rem 0.32rem !important;
}

.icon-on {
    color: gold;
    color: lightseagreen;
    transform: scale(.7);
}

.icon-off {
    color: #dedede;
    color: antiquewhite;
    color: darkgray;
    transform: scale(.7);
}





